<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDziZK5RwPjT6_zON8P4qB-y0nRNTSElVo</string>
	<key>GCM_SENDER_ID</key>
	<string>66676220696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tranning2</string>
	<key>PROJECT_ID</key>
	<string>first-project-30ec1</string>
	<key>STORAGE_BUCKET</key>
	<string>first-project-30ec1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:66676220696:ios:d5c6e3352d483a28a4746d</string>
</dict>
</plist>